$maxmobile: "(max-width: 767px)";

$maxsmall: "(max-width: 991px)";

$minsmall: "(min-width: 768px)";

$minmedium: "(min-width: 992px)";

$minlarge: "(min-width: 1200px)";

$redColor: #e2494c;

$texColor: #9c9c9c;

$float-left: left;

$float-right: right;

$transition: .5s;

$tranlate: 15px;

$text-right: right;

$text-left: left
